<div>
    <%for(record of user.records){%>
        <div>
            <span>
                <%=record.name%>
            </span>
            <span>
                <%=record.boughtAt%>
            </span>
            <span>
                <%=record.soldAt%>
            </span>
            <span>
                <%=record.royalty%>
            </span>
            <span>
                <%=record.profit%>
            </span>
            <span>
                <%=record.loss%>
            </span>

        </div>
        <%}%>
</div>